#AlignArrayOfStructures: Right
#ContinuationIndentWidth: 2
#SeparateDefinitionBlocks: Always (in clang-format 14)
#AlignAfterOpenBracket: Align
#AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
#AlignOperands: Align
#AlignTrailingComments: true
#AllowAllArgumentsOnNextLine: true
#AllowAllParametersOfDeclarationOnNextLine: true
#AlwaysBreakBeforeMultilineStrings: true
BasedOnStyle: Chromium
#BinPackArguments: true
#BinPackParameters: true
#BitFieldColonSpacing: Both
#BreakBeforeBinaryOperators: All
#BreakBeforeBraces: Attach
#BreakBeforeConceptDeclarations: true
#BreakBeforeInheritanceComma: true
#BreakBeforeTernaryOperators: true
#BreakConstructorInitializers: BeforeColon
#BreakInheritanceList: BeforeColon
#ColumnLimit: 80
SortIncludes: true
Standard: c++20
TabWidth: 2
UseTab: Never
