.cache
/bazel-*
/out
/result
/watcher
# Because our tool/release script doesn't handle the project version in this file
Cargo.lock
Testing
build
compile_commands.json
target
tmp_test_watcher
virtualenv
wheelhouse
